@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  primary-50:   #ecf3f8
  primary-100:  #c6dceb
  primary-200:  #a1c5de
  primary-300:  #7baed0
  primary-400:  #5597c3
  primary-500:  #3c7daa
  primary-600:  #2f6184
  primary-700:  #21465e
  primary-800:  #142a39
  primary-900:  #070e13
  primary:      #173041
*/

@layer base {

  /* Apply primary color to only MuiButton of type submit */
  button[type='submit'],
  [class*='MuiButton'] {
    @apply bg-primary
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.stack {
  display: flex;
  flex-direction: column;
}

.page-content {
  @apply
  /* Default */
  flex flex-col w-full h-full gap-6
}

.page-pre-loader {
  @apply
  /* Default */
  relative inset-0 flex items-center justify-center w-full h-full
}

.landing-page {
  /* Primary 50 */
  background-color: #ecf3f8;
  @apply
  /* Default */
  page-content flex-grow
}

.home {
  @apply
  /* Default */
  page-content flex-grow
}